Repository liamandaidan/HomeHospital, pull requests merged in 2022-03, with the labels that each got.

#56 Mike test
  HomeHospital-Backend/src/api/API.js
  HomeHospital-Backend/src/api/routes/request.route.js
  HomeHospital-Backend/src/configure/cookie.configure.js
  HomeHospital-Backend/src/models/medicalFacility.Model.js
  HomeHospital-Backend/src/models/patient.Model.js
  HomeHospital-Backend/src/models/symptom.Schema.js
  HomeHospital-Backend/src/models/visitRequest.Model.js
Labels: Backend

#58 Liambranch Merged to frontend dev 🚀
  HomeHospital-Frontend/hh-front/src/App.js
  HomeHospital-Frontend/hh-front/src/components/ForgotPass.jsx
  HomeHospital-Frontend/hh-front/src/components/LoginForm.js
  HomeHospital-Frontend/hh-front/src/pages/ForgotPassAlert.jsx
  HomeHospital-Frontend/hh-front/src/pages/ForgotPassPage.jsx
  HomeHospital-Frontend/hh-front/src/pages/ResetForgotPass.jsx
  HomeHospital-Frontend/hh-front/src/styles/forgotpass.css
Labels: FrontEnd

#80 Frontend dev branch
  .gitignore
  HomeHospital-Backend/src/api/API.js
  HomeHospital-Backend/src/api/routes/passReset.route.js
  HomeHospital-Frontend/hh-front/.gitignore
  HomeHospital-Frontend/hh-front/package-lock.json
  HomeHospital-Frontend/hh-front/package.json
  HomeHospital-Frontend/hh-front/src/App.js
  HomeHospital-Frontend/hh-front/src/components/HHGoogleMap.js
  HomeHospital-Frontend/hh-front/src/components/HHGoogleMap.module.css
  HomeHospital-Frontend/hh-front/src/components/HomeHospitalContext.js
  HomeHospital-Frontend/hh-front/src/components/HospitalForm.jsx
  HomeHospital-Frontend/hh-front/src/components/HospitalSelectionForm.jsx
  HomeHospital-Frontend/hh-front/src/components/Map.js
  HomeHospital-Frontend/hh-front/src/components/Map.module.css
  HomeHospital-Frontend/hh-front/src/components/PatientInfo.js
  HomeHospital-Frontend/hh-front/src/components/PatientVital.js
  HomeHospital-Frontend/hh-front/src/components/PatientVital.module.css
  HomeHospital-Frontend/hh-front/src/components/SymptomsForm.js
  HomeHospital-Frontend/hh-front/src/components/SymptomsTable.js
  HomeHospital-Frontend/hh-front/src/components/UserNavBar.js
  HomeHospital-Frontend/hh-front/src/components/UserNavBar.module.css
  HomeHospital-Frontend/hh-front/src/components/WaitList.js
  HomeHospital-Frontend/hh-front/src/components/distance.js
  HomeHospital-Frontend/hh-front/src/components/places.js
  HomeHospital-Frontend/hh-front/src/images/img_avatar.png
  HomeHospital-Frontend/hh-front/src/images/mainbg.png
  HomeHospital-Frontend/hh-front/src/pages/ForgotPassPage.jsx
  HomeHospital-Frontend/hh-front/src/pages/HospitalSelectionPage.js
  HomeHospital-Frontend/hh-front/src/pages/Login.js
  HomeHospital-Frontend/hh-front/src/pages/Register.js
  HomeHospital-Frontend/hh-front/src/pages/ResetForgotPass.jsx
  HomeHospital-Frontend/hh-front/src/pages/SymptomsPage.js
  HomeHospital-Frontend/hh-front/src/pages/User.js
  HomeHospital-Frontend/hh-front/src/pages/User.module.css
  HomeHospital-Frontend/hh-front/src/pages/UserHomepage.js
  HomeHospital-Frontend/hh-front/src/styles/ErrorPageStyle.css
  HomeHospital-Frontend/hh-front/src/styles/HospitalSelectionStyles.css
  HomeHospital-Frontend/hh-front/src/styles/SymptomForm.css
  HomeHospital-Frontend/hh-front/src/styles/UserHomepage.css
  HomeHospital-Frontend/hh-front/src/styles/main.css
  HomeHospital-Frontend/hh-front/src/styles/modal.css
  package-lock.json
Labels: FrontEnd, Backend
